@mixin collapsed-menu($main-selector, $positions) {
    #{$main-selector} {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--palette-A700);

        &::before {
            content: '≡';
            display: block;
            width: 40px;
            height: 40px;
            font-size: 35px;
            text-align: center;
        }

        &:hover,
        &:focus,
        &:active {
            .nav-menu {
                position: absolute;
                @each $name, $value in $positions {
                    #{$name}: $value;
                }
                display: flex;
                flex-direction: column;
                padding: 10px;
                border-radius: 20px;
                background-color: var(--palette-700);
                opacity: 0.9;

                &-item {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                        margin-right: 0;
                    }

                    .link {
                        display: block;
                        color: var(--palette-900);
                        background-color: var(--palette-A100);

                        &:hover {
                            color: var(--palette-50);
                            background-color: var(--palette-400);
                        }
                    }
                }
            }
        }

        .nav-menu {
            display: none;
        }
    }
}

@mixin d3-panel() {
    --item-height: 100px;
    --item-width: 300px;
    --item-shift: -100px;
    --item-offset: 10px;
    --padding-top: 140px;
    --padding-bottom: 100px;
    --angel-side: 45deg;
    
    --front-bg: #3e3f46;
    --left-bg: #2e3133;
    --top-bg: #35383e;
    --front-accent-bg: #33a3ee;
    --left-accent-bg: #1f5378;
    --top-accent-bg: #2982b9;

    --transition-duration: 0.5s;
    --box-shadow: -150px 150px 20px rgb(0 0 0 / 25%);

    position: relative;
    width: var(--item-width);
    height: var(--item-height);
    background-color: var(--front-bg, inherit);
    transition: var(--transition-duration);

    &:not(:first-child) {
        margin-bottom: var(--item-offset);
    }

    &:first-child::after {
        z-index: -1;
        box-shadow: var(--box-shadow, none);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(var(--item-height) * -1);
        width: var(--item-height);
        height: 100%;
        transform-origin: right;
        transform: skewY(var(--angel-side));
        transition: var(--transition-duration);
        background-color: var(--left-bg);
        border: 1px solid #000;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(var(--item-height) * -1);
        left: 0;
        width: 100%;
        height: var(--item-height);
        transform-origin: bottom;
        transform: skewX(var(--angel-side));
        transition: var(--transition-duration);
        background-color: var(--top-bg);
    }

    &:hover,
    &:focus,
    &:active {
        transform: translateX(var(--item-shift));
        background-color: var(--front-accent-bg);

        &::before {
            background-color: var(--left-accent-bg);
        }

        &::after {
            background-color: var(--top-accent-bg);
        }

        .main-panel {
            color: var(--accent-color);
        }
    }
}